// Color Variables
$blue-primary: #005ea2;
$blue-dark-background: #1a2e4e;

$green-background: #ecf3ec;
$green-button: #4d8055;

$yellow-background: #faf3d1;

$white: #fff;
$gray-light: #f0f0f0;
$gray-border: #dcdee0;
$gray-dark: #979797;
$gray-darker: #71767a;
$gray-darkest: #343434;

// Breakpoints for screen sizes
$tablet-size-max-width: 640px;
$card-collection-two-per-row-width: 900px;
$card-collection-three-per-row-width: 901px;

html,
body {
  height: 100%;
}
.link-title {
  color: $blue-primary;
  text-decoration: none;
}

.site-header-dark {
  background-color: $blue-dark-background;
  color: $white;
  a {
    color: $white;
  }
}
.site-header-navbar {
  padding: 15px 0;
  a {
    margin: 0 50px;
    text-decoration: none;
  }
  svg.site-logo {
    width: 125px;
    .cls-1 {
      fill: $white;
    }
    .cls-2 {
      fill: #2e9cf3;
    }
    .cls-3 {
      fill: #6cf;
    }
  }
  .site-header-right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 180px;
    a {
      margin: 0 35px;
    }
  }
}
@media (min-width: 64em) {
  .site-header-navbar {
    display: flex;
    align-items: center;
  }
}
textarea {
  height: 16rem;
  width: 100%;
}
#root {
  min-height: 100%;
}
.main-content-body {
  padding: 0 100px 95px;
  margin: 0;
  min-height: 100%;

  position: relative;
  h3 {
    margin-top: 40px;
  }
  .bold-text {
    font-weight: bold;
    font-size: 16px;
  }
  .sub-header-text {
    font-size: 22px;
    line-height: 35px;
  }
  .top-space-40 {
    margin-top: 40px;
  }
}
nav.usa-breadcrumb {
  padding-bottom: 35px;
  padding-top: 30px;
  width: 100%;
  text-transform: capitalize;
}
.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: $gray-light;
  height: 50px;
  padding-top: 14px;
  margin-top: 30px;
  .footer-links {
    display: inline;
  }
  a,
  span {
    margin: 0 28px;
  }
  a {
    text-decoration: none;
    color: $blue-primary;
  }
  span.footer-item {
    color: $gray-darker;
  }
}
@media (max-width: $tablet-size-max-width) {
  .main-content-body {
    padding: 0 50px 130px;
  }
  .site-footer {
    height: 85px;
    .footer-links {
      display: block;
    }
    a,
    span {
      margin: 0 60px;
    }
    a {
      padding-top: 16px;
    }
  }
}

.project-header {
  margin-bottom: 30px;
  .title,
  a {
    @extend .link-title;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .impact-level {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 22px;
    .gear-link {
      display: flex;
      margin-left: 5px;
    }
  }
  .subtitle {
    font-size: 32px;
    margin-top: 26px;
  }
}

.project-card {
  border: 1px solid $gray-border;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px 25px 25px 25px;
  @media (min-width: $card-collection-three-per-row-width) {
    width: 30%;
  }
  @media (max-width: $card-collection-two-per-row-width) {
    width: 45%;
  }
  .card-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .links-list {
    line-height: 26px;
    margin-bottom: 25px;
    margin-left: 0;
    a {
      color: $blue-primary;
    }
  }
}

.projects-page {
  h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 18px;
  }
  .subtitle {
    font-size: 22px;
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;

    @media (min-width: $card-collection-three-per-row-width) {
      // adds margin spacing around the middle card of each row
      > div:nth-child(3n + 2) {
        margin-left: 5%;
        margin-right: 5%;
      }
    }
    @media (max-width: $card-collection-two-per-row-width) {
      justify-content: space-between;
    }
  }
}

.project-settings-page {
  .settings-description {
    margin-bottom: 30px;
    font-size: 22px;
  }
  .settings-details-section {
    line-height: 26px;
    margin-bottom: 55px;
    .question {
      font-weight: bold;
    }
  }
  .button-section {
    font-size: 20px;
    margin-bottom: 55px;
    .above-button-text {
      padding-bottom: 18px;
    }
  }
}

.control-page {
  hr {
    margin: 40px 0 25px;
    background-color: $gray-dark;
    height: 1px;
    border: none;
  }
  .control-page-accordion {
    p {
      font-size: 16px;
      max-width: 100%;
    }
    .usa-accordion__heading {
      margin-top: 35px;
      font-size: 18px;
      .usa-accordion__button {
        color: $gray-darkest;
      }
    }
  }
  .control-page-textarea {
    border: none;
    max-width: 100%;
  }
  .bottom-section {
    display: flex;
    justify-content: space-between;
    button {
      background-color: $green-button;
    }
  }
}

.responsibility-box {
  margin-top: 25px;
  padding: 16px 18px;
  line-height: 26px;
  width: 100%;
  &--yellow {
    @extend .responsibility-box;
    background-color: $yellow-background;
  }
  &--green {
    @extend .responsibility-box;
    background-color: $green-background;
  }
  .responsibility-list {
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.component-library-filter {
  legend {
    font-weight: 700;
  }
  .catalog-filter {
    margin-top: 44px;
  }
}
.usa-prose > table,
.usa-table {
  margin: 0;
}
.add-component-button {
  margin-top: 30px;
}
.usa-search[role="search"],
.usa-search[role="search"] > div,
.usa-search [role="search"] {
  padding-top: 8px;
  margin-bottom: 40px;
  margin-top: 30px;
}
.usa-prose > table thead th,
.usa-table thead th,
.usa-prose > table thead td,
.usa-table thead td {
  background-color: $gray-light;
}
.usa-table--striped tbody tr:nth-child(even) td,
.usa-table--striped tbody tr:nth-child(even) th {
  background-color: $gray-light;
}
.usa-table--striped tbody tr:nth-child(odd) td,
.usa-table--striped tbody tr:nth-child(odd) th {
  background-color: white;
}

.usa-checkbox__input--tile + [class*="__label"],
.usa-radio__input--tile + [class*="__label"] {
  background: #f0f0f0;
}
@media (min-width: 30em) {
  .usa-form {
    max-width: 22rem;
  }
}
.select-components {
  .usa-checkbox__label,
  .usa-radio__label {
    display: inline;
  }
  .usa-prose > table,
  .usa-table {
    margin-bottom: 37px;
    margin-top: 45px;
  }
}
.blueprint-tooltip {
  background-color: $blue-primary;
}
