.site-header-dark{
  background-color:#1A2E4E;
  color: #fff;
  a{
    color: #fff;
  }
}
.site-header-navbar{
  padding: 15px 0;
  a{
    margin: 0 50px;
    text-decoration:none;
  }
  svg.site-logo{
    width: 125px;
    .cls-1{fill:#fff;}
    .cls-2{fill:#2e9cf3;}
    .cls-3{fill:#6cf;}
  }
  .site-header-right{
    display: flex;
    align-items: center;
    position: absolute;
    right: 180px;
    a{
      margin: 0 35px;
    }
  }
}
@media (min-width: 64em){
  .site-header-navbar {
    display: flex;
    align-items: center;
  }
}
textarea {
  height: 16rem;
  width: 100%;
}
.main-content-body{
  padding: 0 100px;
  margin: 0;
  max-width: 1337px;
}
.site-footer{
  text-align: center;
  background-color: #F0F0F0;
  height: 50px;
  padding-top: 14px;
  .footer-links, .footer-stats{
    display: inline;
  }
  a, span{
    margin: 0 28px;
  }
  a{
    text-decoration:none;
  }
  span.footer-item{
    color: #71767A;
  }
}
@media (max-width: 720px) {
  .site-footer{
    height: 85px;
    .footer-links, .footer-stats{
      display: block;
    }
    a, span{
      margin: 0 60px;
    }
    a{
      padding-top: 16px;
    }
    span.footer-item{
      padding-top: 12px;
    }
  }
}
