$primary-blue: #005ea2;
html,
body {
  height: 100%;
}
.link-title {
  color: $primary-blue;
  text-decoration: none;
}

.site-header-dark {
  background-color: #1a2e4e;
  color: #fff;
  a {
    color: #fff;
  }
}
.site-header-navbar {
  padding: 15px 0;
  a {
    margin: 0 50px;
    text-decoration: none;
  }
  svg.site-logo {
    width: 125px;
    .cls-1 {
      fill: #fff;
    }
    .cls-2 {
      fill: #2e9cf3;
    }
    .cls-3 {
      fill: #6cf;
    }
  }
  .site-header-right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 180px;
    a {
      margin: 0 35px;
    }
  }
}
@media (min-width: 64em) {
  .site-header-navbar {
    display: flex;
    align-items: center;
  }
}
textarea {
  height: 16rem;
  width: 100%;
}
#root {
  min-height: 100%;
}
.main-content-body {
  padding: 0 100px 95px;
  margin: 0;
  max-width: 1337px;
  min-height: 100%;
  position: relative;
}
nav.usa-breadcrumb {
  padding-bottom: 35px;
  padding-top: 30px;
  width: 100%;
  text-transform: capitalize;
}
.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f0f0f0;
  height: 50px;
  padding-top: 14px;
  margin-top: 30px;
  .footer-links {
    display: inline;
  }
  a,
  span {
    margin: 0 28px;
  }
  a {
    text-decoration: none;
    color: $primary-blue;
  }
  span.footer-item {
    color: #71767a;
  }
}
@media (max-width: 720px) {
  .main-content-body {
    padding: 0 50px 130px;
  }
  .site-footer {
    height: 85px;
    .footer-links {
      display: block;
    }
    a,
    span {
      margin: 0 60px;
    }
    a {
      padding-top: 16px;
    }
  }
}

.project-page {
  .title,
  a {
    @extend .link-title;
    font-size: 40px;
  }
  .subtitle {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .settings-description {
    margin-bottom: 30px;
    font-size: 22px;
  }
  .settings-details-section {
    line-height: 26px;
    margin-bottom: 55px;
    .question {
      font-weight: bold;
    }
  }
  .button-section {
    font-size: 20px;
    margin-bottom: 55px;
    .above-button-text {
      padding-bottom: 10px;
    }
  }
}

.component-library-filter {
  legend {
    font-weight: 700;
  }
  .catalog-filter {
    margin-top: 44px;
  }
}
.usa-prose > table thead th,
.usa-table thead th,
.usa-prose > table thead td,
.usa-table thead td {
  background-color: #f0f0f0;
}
.usa-table--striped tbody tr:nth-child(even) td,
.usa-table--striped tbody tr:nth-child(even) th {
  background-color: #f0f0f0;
}
.usa-table--striped tbody tr:nth-child(odd) td,
.usa-table--striped tbody tr:nth-child(odd) th {
  background-color: white;
}
